{% extends "base.html" %}

{% block content %}


        <div class="table-responsive">
            <button class="js-clear-all btn btn-primary">Reset All Filters</button>
            <table id="table" data-toggle="table" data-classes="table table-no-bordered table-hover table-sm"
                   data-show-columns="true"
                   data-search="true"
                   data-pagination="true"
                   data-sort-name="serial_number"
                   data-sort-order="desc"
                   data-filter-control="true"
                   data-show-filter-control-switch="true"
                   data-url="/api/cars/recent"
                   data-show-fullscreen="true"
                   data-cookie="true"
                   data-cookie-id-table="saveId"
                   data-show-export="true"
                   data-page-size="25"
                   data-page-list="[10,25,50,100,500,1000,all]">
                <thead>
                <tr>
                    <th data-field="serial_number" data-sortable="true">Serial</th>
                    <th data-field="vin" 
                        data-filter-control="input" 
                        data-formatter="formatVin" 
                        data-sortable="true" 
                        data-filter-control-placeholder="search...">VIN</th>
                    <th data-field="car_model" 
                        data-filter-control="select" 
                        data-sortable="true" 
                        data-formatter="formatModel" 
                        data-filter-control-placeholder="filter..">Model</th>
                    <th data-field="model_year" 
                        data-filter-control="select" 
                        data-sortable="true" 
                        data-filter-control-placeholder="filter..">Year</th>
                    <th data-field="opt_code" 
                        data-filter-control="select" 
                        data-sortable="true" 
                        data-formatter="formatOptions" 
                        data-filter-control-placeholder="filter..">Options</th>
                    <th data-field="ext_color" 
                        data-filter-control="select" 
                        data-sortable="true" 
                        data-filter-control-placeholder="filter..">Ext Color</th>
                    <th data-field="int_color" 
                        data-filter-control="select" 
                        data-sortable="true" 
                        data-formatter="formatInteriorColor" 
                        data-filter-control-placeholder="filter..">Int Color</th>
                    <th data-field="sold_to" 
                        data-filter-control="input" 
                        data-sortable="true" 
                        data-formatter="formatDealer" 
                        data-filter-control-placeholder="search..">Dealer</th>
                    <th data-field="created_date" 
                        data-sortable="true" 
                        data-filter-control="input" 
                        data-formatter="formatDate" 
                        data-filter-control-placeholder="search..">Created</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        {{ scraper_stats.count }} VINS added in the last 24 hours.
    </div>
    <div>
        KEY | (P)RE - Prestige/Premium : T(OW) - Towing : N(E) - Nightfall
    </div>
{% endblock %}
