{% extends "base.html" %}

{% block content %}

        <div class="table-responsive">
            <table id="table" data-toggle="table" data-classes="table table-no-bordered table-hover table-sm"
                   data-show-columns="true"
                   data-search="true"
                   data-pagination="true"
                   data-sort-name="id"
                   data-click-to-select="true"
                   data-filter-control="true"
                   data-url="/api/cars"
            >
                <thead>
                <tr>
                    <th data-field="vin" data-filter-control="input" data-formatter="formatVin">VIN</th>
                    <th data-field="car_model" data-filter-control="select" data-sortable="true" data-formatter="formatModel">Model</th>
                    <th data-field="opt_code" data-filter-control="select" data-sortable="true" data-formatter="formatOptions">Options</th>
                    <th data-field="ext_color" data-filter-control="select" data-sortable="true">Ext Color</th>
                    <th data-field="int_color" data-filter-control="select" data-sortable="true">Int Color</th>
                    <th data-field="sold_to" data-filter-control="input" data-sortable="true" data-formatter="formatDealer">Dealer</th>
                    <th data-field="created_date" data-sortable="true" data-filter-control="input" data-formatter="formatDate">Created</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
