{% extends "base.html" %}

{% block content %}

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Dealer</h6>
        <div>
            {{ dealer.dealer_code }}
        </div>
        <div>
            {{ dealer.address }}
        </div>
        <div>
            {{ dealer.zip }}
        </div>
        <div class="table-responsive">
            <table id="table" data-toggle="table" data-classes="table table-no-bordered table-hover table-sm"
                   data-show-columns="true"
                   data-checkbox="true"
                   data-search="true"
                   data-show-toggle="true"
                   data-pagination="true"
                   data-sort-name="id"
                   data-id-field="id"
                   data-click-to-select="true"
            >
                <thead>
                <tr>
                    <th data-field="vin" data-formatter="formatVin">VIN</th>
                    <th data-field="title" data-sortable="true">Name</th>
                    <th data-field="model" data-sortable="true">Model</th>
                </tr>
                </thead>
                <tbody>
                {% for car in cars %}
                    <tr>
                        <td>{{ car.vin }}</td>
                        <td>{{ car.car_model }}</td>
                        <td>{{ car.model_info.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
